/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*  Import for the TABLE only  */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&text=%250123456789NormalBoldpx&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* 
body {
	max-width: 50rem;
	padding: 0 1rem;
	font-size: 125%;
	line-height: 1.3;
	margin: 0.5rem auto;
	font-family: Roboto, Arial, sans-serif;
	background-color: #808080;
	}

* {
	margin: 0;
	box-sizing: border-box;  /* Set all box sizes to include border */ /*
	color: inherit;
	}

/* ****** TABBED SECTIONS ****** */

* {
	box-sizing: border-box;  /* Set all box sizes to include border */
	}

:root {
  --tab1Dark:#080;
  --tab2Dark:#078;
  --tab3Dark:#029;
  --tab4Dark:#508;
  --tab5Dark:#700;
  --tab6Dark:#660;

  --tab1Light:#eaf0ea;
  --tab2Light:#e9f0f2;
  --tab3Light:#eaf0fa;
  --tab4Light:#f5f2f8;
  --tab5Light:#fbf0e6;
  --tab6Light:#f8f0e4;

}

h1,h2,h3,h4,h5,h6 {	font-weight: 600;	}

[role="tab"][tab-num="1"],[role="tabpanel"][tab-num="1"]{ background-color: var(--tab1Light);}
[role="tab"][tab-num="2"],[role="tabpanel"][tab-num="2"]{ background-color: var(--tab2Light);}
[role="tab"][tab-num="3"],[role="tabpanel"][tab-num="3"]{ background-color: var(--tab3Light);}
[role="tab"][tab-num="4"],[role="tabpanel"][tab-num="4"]{ background-color: var(--tab4Light);}
[role="tab"][tab-num="5"],[role="tabpanel"][tab-num="5"]{ background-color: var(--tab5Light);}
[role="tab"][tab-num="6"],[role="tabpanel"][tab-num="6"]{ background-color: var(--tab6Light);}

[role="tab"] {border-radius: 16px 16px 0 0;}

[role="tab"][tab-num="1"]{color: var(--tab1Dark);}
[role="tab"][tab-num="2"]{color: var(--tab2Dark);}
[role="tab"][tab-num="3"]{color: var(--tab3Dark);}
[role="tab"][tab-num="4"]{color: var(--tab4Dark);}
[role="tab"][tab-num="5"]{color: var(--tab5Dark);}
[role="tab"][tab-num="6"]{color: var(--tab6Dark);}

[role="tab"][tab-num="1"][aria-selected="true"]
{color: var(--tab1Light); background-color: var(--tab1Dark);}

[role="tab"][tab-num="2"][aria-selected="true"]
{color: var(--tab2Light); background-color: var(--tab2Dark);}

[role="tab"][tab-num="3"][aria-selected="true"]
{color: var(--tab3Light); background-color: var(--tab3Dark);}

[role="tab"][tab-num="4"][aria-selected="true"]
{color: var(--tab4Light); background-color: var(--tab4Dark);}

[role="tab"][tab-num="5"][aria-selected="true"]
{color: var(--tab5Light); background-color: var(--tab5Dark);}

[role="tab"][tab-num="6"][aria-selected="true"]
{color: var(--tab6Light); background-color: var(--tab6Dark);}


[role="tablist"] {
	padding: 0;
	}
[role="tablist"] li, [role="tablist"] a {
	display: inline-block;
	}
[role="tablist"] a {
	text-decoration: none;
	padding: 0.5rem 1em;
	}

[role="tab"][aria-selected="true"] {
	position: relative;
	/* top: 0px;
	margin-top: -28px; */
	/* border: 3px solid #FFF; */ 
	border-radius: 16px 16px 0 0;
	border-bottom: 0;
	}


[role="tabpanel"] {
	outline: none;
	border: none;
	padding: .5rem;
	border-radius: 0 0 24px 24px;	
	box-shadow: inset 0 3px 7px rgba(32,32,32,0.2);	
	}
[role="tabpanel"] * + * {
	margin-top: 0.5rem;
	}
[role="tabpanel"] {
	padding: 12px 32px;
	font-size: 18px;
	font-weight: 500;
	outline: none;
	}


.tabs {
  max-width: 800px;
  padding: 24px;
	outline: none;
	font-family: Barlow, sans-serif;
  font-size: 1.1rem;
	background-color: #fff;
	border: 2px solid #308;
	border-radius: 24px 24px 56px 56px;
	}

.hoverTrick a {
	text-align: center;
	font-weight: 600;	
	box-shadow: inset 5px 5px 5px #4444,
				inset -2px 2px 3px #4444,
				inset 0 -2px 2px #3333;	
	}

.hoverTrick a::before {
/* this fixes the case where are you have a lighter weight text and switches to 
A heavier weight text. To Use This you must add a title attribute to link */
    display: block;
    content: attr(title);
  	font-size: 1.2rem;
    font-weight: 800;
    height: 0;
    overflow: hidden;
    visibility: hidden;
	}

.hoverTrick a:hover {
	font-weight: 500;
	outline: none;
	box-shadow: inset 2px 3px 4px #FFFA,
				inset -4px -4px 6px #4444,
				0 2px 4px #DEFA;
	}

.hoverTrick a:focus-within,
.hoverTrick a:active, .hoverTrick a:active:hover,
.hoverTrick a:focus {
	font-weight: 700;
	outline: none;
	box-shadow: inset 3px 3px 4px #FFFB,
				inset -4px -4px 6px #4443,
				inset 0 -2px 5px #4447,
				0 6px 12px #0006;
	}


[role="tab"][aria-selected="true"] {
	font-size: 1.2rem;
	font-weight: 500;
	outline: none;
	color: #fff;
	box-shadow: inset 3px 3px 4px #FFF8,
				inset -3px -3px 4px #4443,
				inset 0 -1px 3px #4447,
				0 2px 4px #6664;
	}





/* ******   MEDIA QUERIES   ****** */


@media (max-width: 640px) {

body {padding: 0;}
.default-grid {padding: 0;}
main {
  margin: 0;
  max-width:100vw;
  }

.tabs {
  margin: 2vw 0;
  max-width:100vw;
  padding: 3vw;
	outline: none;
	background-color: #fff;
	border: 0px solid #fff;
	border-radius: 16px 16px 28px 28px;
	}
	
	[role="tablist"] li, [role="tablist"] a {
	display: block;
	position: static;
	}

	[role="tablist"] a {
	border: 2px solid #222 !important;
	}

	[role="tablist"] li + li a {
	border-top: 0 !important;
	}

	[role="tablist"] [aria-selected] {
	position: static;
	}

	[role="tablist"] [aria-selected]::after {
	content: '\0020';
	}

	[role="tabpanel"] {
	padding: 12px;
	border-top: 0;
	font-size: 1.2rem;
	font-weight: 500;
	outline: none;
	}
	
[role="tab"][tab-num="2"],
[role="tab"][tab-num="3"],
[role="tab"][tab-num="4"],
[role="tab"][tab-num="5"],
[role="tab"][tab-num="6"]{ border-radius: 0 0;}

}


/* ****** CONTENT STYLES ****** */

.breadcrumb, .default-grid.breadcrumb, .default-grid .breadcrumb {
	margin: 0;
	padding: 0.25em 1em 0.25em;
	font-size: 0.8em;
	font-weight: bold;
	font-style: italic;
	line-height: 1;
	color: #345;
	background-color: #fff6;
	text-decoration: none;
	border-radius: 0 0 18px 0 ;
	box-shadow: inset -6px -6px 10px #7646,
				inset 4px 4px 10px #fffa;
	}
	
.breadcrumb a {
	font-size: 0.8em;
	font-weight: normal;
	font-style: normal;
	color: #123;
	text-decoration: none;	
	}
.breadcrumb a:hover {
	font-size: 0.8em;
	font-weight: normal;
	font-style: normal;
	color: #123;
	text-decoration: none;
	text-shadow:  0 0 1px #70F,
				 0 0 2px #07F;		
	}	
.breadcrumb a::after {
	content: '\00A0  \21D2  \00A0';
	font-size: 1.4em;
	line-height: 0.3;
	text-decoration: none;
	color: #123;
	}		


@media (max-width:60em) {
.breadcrumb, .default-grid.breadcrumb, .default-grid .breadcrumb {
	border-radius: 0 0 18px 18px ;
	box-shadow: inset -6px -6px 10px #764,
				inset 4px 4px 10px #fffa;
	}
}


.guidanceBox {
	position: relative;
	top: 2px;
	padding: 1.5rem;
	border: 2px solid #AB4;
	border-radius: 16px;
	color: #009;
	background: #EF9;
	}

.informBox {
	position: relative;
	top: 2px;
	padding: 0.25em 1em 0.15em;
	border: 2px solid #6A6;
	border-radius: 8px;
	font-weight: bold;
	color: #040;
	background: #CFC;
	}

.insideShadow {
	border: 8px solid #EF2;
	box-shadow: inset 6px 6px 12px #98B,
				inset 0 0 6px #6A6;
	}


button.purple, button.blue, button.orange {
	margin: 1em 0.5em;
	padding: 0.65em;
	font-size: 1.2em;
	font-weight: bold;
	color: #FFF;
	background-color: #408;
	text-decoration: none;
	border: 0;
	border-radius: 16px;
	box-shadow: inset 2px 2px 6px #C8F,
				inset 8px 8px 12px #84B,
				inset -5px -5px 8px #102,
				4px 4px 8px #222;
	}

a button.purple {
	box-shadow: inset 2px 2px 6px #C8F,
				inset 8px 8px 12px #84B,
				inset -5px -5px 8px #102,
				4px 4px 8px #222;
				}
a:hover button.purple { 
	background-color: #71A;
	box-shadow: inset 2px 2px 6px #D8F,
				inset 8px 8px 12px #A2D,
				inset -5px -5px 8px #102,
				4px 4px 8px #222;
				}
a:active button.purple { 
	background-color: #408;
	box-shadow: inset 2px 2px 6px #C8F,
				inset 8px 8px 12px #84B,
				inset -5px -5px 8px #102,
				1px 1px 4px #222;
				}

button.blue {
	color: #FFF;
	background-color: #00C;
	box-shadow: inset 2px 2px 6px #A8F,
				inset 8px 8px 12px #44D,
				inset -5px -5px 8px #002,
				4px 4px 8px #224;
	}

a button.blue {
	box-shadow: inset 2px 2px 6px #A8F,
				inset 8px 8px 12px #44D,
				inset -5px -5px 8px #002,
				4px 4px 8px #224;
				}
a:hover button.blue { 
	background-color: #22E;
	box-shadow: inset 2px 2px 6px #97F,
				inset 8px 8px 12px #58F,
				inset -5px -5px 8px #002,
				4px 4px 8px #224;
				}
a:active button.blue { 
	background-color: #00C;
	box-shadow: inset 2px 2px 6px #A8F,
				inset 8px 8px 12px #44D,
				inset -5px -5px 8px #002,
				1px 1px 4px #224;
				}

button.orange {
	color: #FFF;
	background-color: #B40;
	box-shadow: inset 2px 2px 6px #F83,
				inset 8px 8px 12px #E40,
				inset -5px -5px 8px #200,
				4px 4px 8px #422;
	}
a button.orange {
	box-shadow: inset 2px 2px 6px #F83,
				inset 8px 8px 12px #E40,
				inset -5px -5px 8px #200,
				4px 4px 8px #422;
				}
a:hover button.orange { 
	background-color: #B40;
	box-shadow: inset 2px 2px 6px #FA7,
				inset 8px 8px 12px #F70,
				inset -5px -5px 8px #200,
				4px 4px 8px #422;
				}
a:active button.orange { 
	background-color: #B20;
	box-shadow: inset 2px 2px 6px #F83,
				inset 8px 8px 12px #E40,
				inset -5px -5px 8px #200,
				1px 1px 4px #422;
				}


	
.noBullet {
	list-style-type: none;
	}


/* ***** Visual Readability Table ***** */

/* ***** Visual Readability Table ***** */
/* ***** Visual Readability Table ***** */


.visReadTable {
	margin: 0 auto;
	overflow: scroll;
	border-collapse: collapse;
	font-size: 1.125em;
	}

.visReadTable td, .visReadTable th { text-align: center; }

.visReadTable td { 
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.2em;
	padding: 4px 6px;
	border: 2px solid #BAD;
	}
	
.visReadTable th, .visReadTable th.fsize {
	font-weight: 500; 
	background-color: #FFA;
	}

.visReadTable th.nullBG {background-color: #FFD;}

.visReadTable th.tableTitle {
	font-size: 1.3em;
	background-color: #EEF;
	}
.APCAtable th.tableTitle {
	font-size: 1.3em;
	color: #fff;
	background-color: #206;
	}
	
.visReadTable td.vBot, .visReadTable th.vBot, .visReadTable th .vBot, .vBot { 
	padding: 10px;
	vertical-align: bottom;
	border-color: #0F0;
	background-color: #DDB;
	}

.APCAtable th.weight {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.6em; 
	padding: 0 1px;
	}
	
.APCAtable th.weight7, .APCAtable th.weight8, .APCAtable th.weight9
{padding: 0 6px;}

.APCAtable th.weight div {font-size: 0.6em; margin: -0.3em 0 0; padding: 0 1px;}

.visReadTable th.weight1 { font-weight: 100; background-color: #FFF;}
.visReadTable th.weight2 { font-weight: 200; background-color: #F4F4F4;}
.visReadTable th.weight3 { font-weight: 300; background-color: #EAEAEA;}
.visReadTable th.weight4 { font-weight: 400; background-color: #E2E2E2;}
.visReadTable th.weight5 { font-weight: 500; background-color: #DADADA;}
.visReadTable th.weight6 { font-weight: 600; background-color: #D0D0D0;}
.visReadTable th.weight7 { font-weight: 700; background-color: #C6C6C6;}
.visReadTable th.weight8 { font-weight: 800; background-color: #BBB;}
.visReadTable th.weight9 { font-weight: 900; background-color: #AFAFAF;}


.visReadTable td:first-child { font-weight: 600;}

.APCAtable {text-align: center;}
.APCAtable .underWeight {
	font-size: 1.5em;
	line-height: 0.7;
	color: var(--faded-red);
	color: #c0272d;
	background-color: #F883; 	
	}
.underWeightSpan {
	font-size: 1.5em;
	line-height: 0.7;
	color: var(--faded-red);
	color: #c0272d;
	}	
.APCAtable .keyValue, .keyVal80, .keyVal60{
	font-weight: bold;
	background-color: var(--cloudy-subtle);
	background-color: #d0e1f1; 
	}

td.keyVal12, td.keyVal10 {
	font-weight: 800;
	}
.APCAtable td.keyVal100{
	font-weight: 700;
	}
.APCAtable td.keyVal80, td.keyVal08 {
	font-weight: 700;
	}
.APCAtable td.keyVal60, td.keyVal07 {
	font-weight: 700;
	}
td.keyVal06 {
	font-weight: 600;
	}
td.keyVal05 {
	font-weight: 500;
	}
td.keyVal04 {
	font-weight: 400;
	}
	
td.keyVal04 { color: #804; background-color: #DB63;}
td.keyVal05 { color: #602; background-color: #A2B3;}
td.keyVal06 { color: #411; background-color: #48F4;}
.APCAtable td.keyVal60, td.keyVal07 { background-color: #2DA5;}
.APCAtable td.keyVal80, td.keyVal08  { background-color: #2F68;}
.APCAtable td.keyVal100 { }

td.keyVal10 { color: #000; background-color: #8F0A;}
td.keyVal12 { color: #220; background-color: #EF08;}

	/* provide some minimal visual accomodation for IE8 and below */
	/* Define the background color for all the ODD background rows  */
.visReadTable tr, .visReadTable tr:nth-child(odd) { 
	color: #301170;
	background-color: #F0FFFF;
	}
	
	/* Define the background color for all the EVEN background rows  */
.visReadTable tr:nth-child(even) {
	color: #204;
	background-color: #E0EEFF;
	}

td.do-not, .do-not {
	font-size: 1.6em;
	font-weight: bold;
	line-height: 0.2;
	color: #E00; 
	background-color: #E993;
	}

div.overflowScroll {
	overflow: scroll;
	}

.copyright {
	text-align: center;
	margin: 0 auto;
	line-height: 1.17em;
	font-size: 0.75em;
	color: #205;
	}


/** Editor's Notes **/
/** Non-normative Note ****************************************/

.note {
	border-color: #52E052;
	background: #E9FBE9;
	overflow: auto;
	}

.note::before, .note > .marker,
details.note > summary::before,
details.note > summary > .marker {
	text-transform: uppercase;
	display: block;
	color: hsl(120, 70%, 30%);
	}

	/* Add .note::before { content: "Note "; } for autogen label,
	or use class="marker" to mark up the label in source. */

details.note > summary {
	color: hsl(120, 70%, 30%);
	}
details.note[open] > summary {
	border-bottom: 1px silver solid;
	}



/* ************************************************************* */
/* *****   Alignments and clear fix etc.   ********************* */
/* ************************************************************* */

.centered {
	position: relative;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	}

article h1, article h2,  article h3,
article h1 a, article h2 a,  article h3 a
	{
	text-align: center;
	}

.left, .leftCol {
	text-align: left;
	float: left;
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	}

.right, .rightCol {
	text-align: left;
	float: right;
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	}

.leftCol, .rightCol {
	Position: Relative;
	height: 100%;
	}

.leftText {	text-align: left; }

.rightText{ text-align: right; }

/* ************************************************************* */
/* ************************************************************* */
/**
 * CLEARFIX for modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* ************************************************************* */
/* ************************************************************* */


.clrf:before, .clear:before, .clearfix:before,
.clrf:after, .clear:after, .clearfix:after
	{
    content: " "; /* 1 */
    display: table; /* 2 */
	}

.clrf:after, .clear:after, .clearfix:after { clear: both; }

/****	For IE 6/7 only
		Include this rule to trigger hasLayout and contain floats.
****/
.clrf, .clear, .clearfix {*zoom: 1;}



/******************************************/
/**********      POSITION      ************/
/******************************************/

/****   positions  ( .pa, .pr, conflict with padding) ****/

.pi, .poi	{ position: initial; }
.ph, .poh	{ position: inherit; }

.pst,.post	{ position: static; }
.por	{ position: relative; }
.poa	{ position: absolute; }
.ps, .pos	{ position: -webkit-sticky; position: sticky; }
.pf, .pof	{ position: fixed; }


/**** fl  floats   ****/

.fli {float: initial;}
.flh {float: inherit;}

.fln {float: none;}
.fll {float: left;}
.flr {float: right;}


/**** c  clears    ****/

.cli {clear: initial;}
.clh {clear: inherit;}

.cln {clear: none;}
.cll {clear: left;}
.clr {clear: right;}
.clb {clear: both;}

/* clf - clear fix, setup earlier */

/******************************************/
/**********    POSITION ADJUST    *********/
/******************************************/

/****  pot  position top in px ****/

.pot-9p {top: -09px;}
.pot-8p {top: -08px;}
.pot-7p {top: -07px;}
.pot-6p {top: -06px;}
.pot-5p {top: -05px;}
.pot-4p {top: -04px;}
.pot-3p {top: -03px;}
.pot-2p {top: -02px;}
.pot-1p {top: -01px;}
.pot0p, .pot00p {top: 0;}
.pot1p, .pot01p {top: 01px;}
.pot2p, .pot02p {top: 02px;}
.pot3p, .pot03p {top: 03px;}
.pot4p, .pot04p {top: 04px;}
.pot5p, .pot05p {top: 05px;}
.pot6p, .pot06p {top: 06px;}
.pot7p, .pot07p {top: 07px;}
.pot8p, .pot08p {top: 08px;}
.pot9p, .pot09p {top: 09px;}
.pot10p {top: 10px;}
.pot11p {top: 11px;}
.pot12p {top: 12px;}
.pot13p {top: 13px;}
.pot14p {top: 14px;}
.pot15p {top: 15px;}
.pot16p {top: 16px;}
.pot17p {top: 17px;}
.pot18p {top: 18px;}
.pot19p {top: 19px;}
.pot20p {top: 20px;}
.pot21p {top: 21px;}
.pot22p {top: 22px;}
.pot23p {top: 23px;}
.pot24p {top: 24px;}
.pot25p {top: 25px;}

/****  por  position right in px ****/

.por-9p {right: -09px;}
.por-8p {right: -08px;}
.por-7p {right: -07px;}
.por-6p {right: -06px;}
.por-5p {right: -05px;}
.por-4p {right: -04px;}
.por-3p {right: -03px;}
.por-2p {right: -02px;}
.por-1p {right: -01px;}
.por0p, .por00p {right: 0;}
.por1p, .por01p {right: 01px;}
.por2p, .por02p {right: 02px;}
.por3p, .por03p {right: 03px;}
.por4p, .por04p {right: 04px;}
.por5p, .por05p {right: 05px;}
.por6p, .por06p {right: 06px;}
.por7p, .por07p {right: 07px;}
.por8p, .por08p {right: 08px;}
.por9p, .por09p {right: 09px;}
.por10p {right: 10px;}
.por11p {right: 11px;}
.por12p {right: 12px;}
.por13p {right: 13px;}
.por14p {right: 14px;}
.por15p {right: 15px;}
.por16p {right: 16px;}
.por17p {right: 17px;}
.por18p {right: 18px;}
.por19p {right: 19px;}
.por20p {right: 20px;}
.por21p {right: 21px;}
.por22p {right: 22px;}
.por23p {right: 23px;}
.por24p {right: 24px;}
.por25p {right: 25px;}

/**** pob  position bottom in px ****/

.pob-9p {bottom: -09px;}
.pob-8p {bottom: -08px;}
.pob-7p {bottom: -07px;}
.pob-6p {bottom: -06px;}
.pob-5p {bottom: -05px;}
.pob-4p {bottom: -04px;}
.pob-3p {bottom: -03px;}
.pob-2p {bottom: -02px;}
.pob-1p {bottom: -01px;}
.pob0p, .pob00p {bottom: 0;}
.pob1p, .pob01p {bottom: 01px;}
.pob2p, .pob02p {bottom: 02px;}
.pob3p, .pob03p {bottom: 03px;}
.pob4p, .pob04p {bottom: 04px;}
.pob5p, .pob05p {bottom: 05px;}
.pob6p, .pob06p {bottom: 06px;}
.pob7p, .pob07p {bottom: 07px;}
.pob8p, .pob08p {bottom: 08px;}
.pob9p, .pob09p {bottom: 09px;}
.pob10p {bottom: 10px;}
.pob11p {bottom: 11px;}
.pob12p {bottom: 12px;}
.pob13p {bottom: 13px;}
.pob14p {bottom: 14px;}
.pob15p {bottom: 15px;}
.pob16p {bottom: 16px;}
.pob17p {bottom: 17px;}
.pob18p {bottom: 18px;}
.pob19p {bottom: 19px;}
.pob20p {bottom: 20px;}
.pob21p {bottom: 21px;}
.pob22p {bottom: 22px;}
.pob23p {bottom: 23px;}
.pob24p {bottom: 24px;}
.pob25p {bottom: 25px;}

/**** pol  position left in px ****/

.pol-9p {left: -09px;}
.pol-8p {left: -08px;}
.pol-7p {left: -07px;}
.pol-6p {left: -06px;}
.pol-5p {left: -05px;}
.pol-4p {left: -04px;}
.pol-3p {left: -03px;}
.pol-2p {left: -02px;}
.pol-1p {left: -01px;}
.pol0p, .pol00p {left: 0;}
.pol1p, .pol01p {left: 01px;}
.pol2p, .pol02p {left: 02px;}
.pol3p, .pol03p {left: 03px;}
.pol4p, .pol04p {left: 04px;}
.pol5p, .pol05p {left: 05px;}
.pol6p, .pol06p {left: 06px;}
.pol7p, .pol07p {left: 07px;}
.pol8p, .pol08p {left: 08px;}
.pol9p, .pol09p {left: 09px;}
.pol10p {left: 10px;}
.pol11p {left: 11px;}
.pol12p {left: 12px;}
.pol13p {left: 13px;}
.pol14p {left: 14px;}
.pol15p {left: 15px;}
.pol16p {left: 16px;}
.pol17p {left: 17px;}
.pol18p {left: 18px;}
.pol19p {left: 19px;}
.pol20p {left: 20px;}
.pol21p {left: 21px;}
.pol22p {left: 22px;}
.pol23p {left: 23px;}
.pol24p {left: 24px;}
.pol25p {left: 25px;}


/****  pot  position top ****/

.pot-9 {top: -0.9em;}
.pot-8 {top: -0.8em;}
.pot-7 {top: -0.7em;}
.pot-6 {top: -0.6em;}
.pot-5 {top: -0.5em;}
.pot-4 {top: -0.4em;}
.pot-3 {top: -0.3em;}
.pot-2 {top: -0.2em;}
.pot-1 {top: -0.1em;}
.pot, .pot0, .pot00 {top: 0;}
.pot1, .pot01 {top: 0.1em;}
.pot2, .pot02 {top: 0.2em;}
.pot3, .pot03 {top: 0.3em;}
.pot4, .pot04 {top: 0.4em;}
.pot5, .pot05 {top: 0.5em;}
.pot6, .pot06 {top: 0.6em;}
.pot7, .pot07 {top: 0.7em;}
.pot8, .pot08 {top: 0.8em;}
.pot9, .pot09 {top: 0.9em;}
.pot10 {top: 1.0em;}
.pot11 {top: 1.1em;}
.pot12 {top: 1.2em;}
.pot13 {top: 1.3em;}
.pot14 {top: 1.4em;}
.pot15 {top: 1.5em;}
.pot16 {top: 1.6em;}
.pot17 {top: 1.7em;}
.pot18 {top: 1.8em;}
.pot19 {top: 1.9em;}
.pot20 {top: 2.0em;}
.pot21 {top: 2.1em;}
.pot22 {top: 2.2em;}
.pot23 {top: 2.3em;}
.pot24 {top: 2.4em;}
.pot25 {top: 2.5em;}

/****  por  position right ****/

.por-9 {right: -0.9em;}
.por-8 {right: -0.8em;}
.por-7 {right: -0.7em;}
.por-6 {right: -0.6em;}
.por-5 {right: -0.5em;}
.por-4 {right: -0.4em;}
.por-3 {right: -0.3em;}
.por-2 {right: -0.2em;}
.por-1 {right: -0.1em;}
.por, .por0, .por00 {right: 0;}
.por1, .por01 {right: 0.1em;}
.por2, .por02 {right: 0.2em;}
.por3, .por03 {right: 0.3em;}
.por4, .por04 {right: 0.4em;}
.por5, .por05 {right: 0.5em;}
.por6, .por06 {right: 0.6em;}
.por7, .por07 {right: 0.7em;}
.por8, .por08 {right: 0.8em;}
.por9, .por09 {right: 0.9em;}
.por10 {right: 1.0em;}
.por11 {right: 1.1em;}
.por12 {right: 1.2em;}
.por13 {right: 1.3em;}
.por14 {right: 1.4em;}
.por15 {right: 1.5em;}
.por16 {right: 1.6em;}
.por17 {right: 1.7em;}
.por18 {right: 1.8em;}
.por19 {right: 1.9em;}
.por20 {right: 2.0em;}
.por21 {right: 2.1em;}
.por22 {right: 2.2em;}
.por23 {right: 2.3em;}
.por24 {right: 2.4em;}
.por25 {right: 2.5em;}

/**** pob  position bottom ****/

.pob-9 {bottom: -0.9em;}
.pob-8 {bottom: -0.8em;}
.pob-7 {bottom: -0.7em;}
.pob-6 {bottom: -0.6em;}
.pob-5 {bottom: -0.5em;}
.pob-4 {bottom: -0.4em;}
.pob-3 {bottom: -0.3em;}
.pob-2 {bottom: -0.2em;}
.pob-1 {bottom: -0.1em;}
.pob, .pob0, .pob00 {bottom: 0;}
.pob1, .pob01 {bottom: 0.1em;}
.pob2, .pob02 {bottom: 0.2em;}
.pob3, .pob03 {bottom: 0.3em;}
.pob4, .pob04 {bottom: 0.4em;}
.pob5, .pob05 {bottom: 0.5em;}
.pob6, .pob06 {bottom: 0.6em;}
.pob7, .pob07 {bottom: 0.7em;}
.pob8, .pob08 {bottom: 0.8em;}
.pob9, .pob09 {bottom: 0.9em;}
.pob10 {bottom: 1.0em;}
.pob11 {bottom: 1.1em;}
.pob12 {bottom: 1.2em;}
.pob13 {bottom: 1.3em;}
.pob14 {bottom: 1.4em;}
.pob15 {bottom: 1.5em;}
.pob16 {bottom: 1.6em;}
.pob17 {bottom: 1.7em;}
.pob18 {bottom: 1.8em;}
.pob19 {bottom: 1.9em;}
.pob20 {bottom: 2.0em;}
.pob21 {bottom: 2.1em;}
.pob22 {bottom: 2.2em;}
.pob23 {bottom: 2.3em;}
.pob24 {bottom: 2.4em;}
.pob25 {bottom: 2.5em;}

/**** pol  position left ****/

.pol-9 {left: -0.9em;}
.pol-8 {left: -0.8em;}
.pol-7 {left: -0.7em;}
.pol-6 {left: -0.6em;}
.pol-5 {left: -0.5em;}
.pol-4 {left: -0.4em;}
.pol-3 {left: -0.3em;}
.pol-2 {left: -0.2em;}
.pol-1 {left: -0.1em;}
.pol,  .pol0, .pol00 {left: 0;}
.pol1, .pol01 {left: 0.1em;}
.pol2, .pol02 {left: 0.2em;}
.pol3, .pol03 {left: 0.3em;}
.pol4, .pol04 {left: 0.4em;}
.pol5, .pol05 {left: 0.5em;}
.pol6, .pol06 {left: 0.6em;}
.pol7, .pol07 {left: 0.7em;}
.pol8, .pol08 {left: 0.8em;}
.pol9, .pol09 {left: 0.9em;}
.pol10 {left: 1.0em;}
.pol11 {left: 1.1em;}
.pol12 {left: 1.2em;}
.pol13 {left: 1.3em;}
.pol14 {left: 1.4em;}
.pol15 {left: 1.5em;}
.pol16 {left: 1.6em;}
.pol17 {left: 1.7em;}
.pol18 {left: 1.8em;}
.pol19 {left: 1.9em;}
.pol20 {left: 2.0em;}
.pol21 {left: 2.1em;}
.pol22 {left: 2.2em;}
.pol23 {left: 2.3em;}
.pol24 {left: 2.4em;}
.pol25 {left: 2.5em;}



/* Fast Colors */


.ci {color: initial;}
.ch {color: inherit;}
.bgi {background-color: initial;}
.bgh {background-color: inherit;}
.bci {border-color: initial;}
.bch {border-color: inherit;}

.cBlk, .cBk, .cBlack		{ color: Black;}
.bgBlk, .bgBk, .bgBlack		{ background-color: Black;}
.bcBlk, .bcBk, .bcBlack		{ border-color: Black;}

.cBrn, .cBn, .cBrown		{ color: #840;}
.bgBrn, .bgBn, .bgBrown		{ background-color: #840;}
.bcBrn, .bcBn, .bcBrown		{ border-color: #840;}

.cNvy, .cN, .cNavy		{ color: Navy;}
.bgNvy, .bgN, .bgNavy		{ background-color: Navy;}
.bcNvy, .bcN, .bcNavy		{ border-color: Navy;}

.cBlu, .cB, .cBlue		{ color: Blue;}
.bgBlu, .bgB, .bgBlue		{ background-color: Blue;}
.bcBlu, .bcB, .bcBlue		{ border-color: Blue;}


.cYlw, .cY, .cYellow		{ color: Yellow;}
.bgYlw, .bgY, .bgYellow		{ background-color: Yellow;}
.bcYlw, .bcY, .bcYellow		{ border-color: Yellow;}

.cRed, .cR, .cRR		{ color: Red;}
.bgRed, .bgR, .bgRR		{ background-color: Red;}
.bcRed, .bcR, .bcRR		{ border-color: Red;}

.cOrg, .cO, .cOrange		{ color: #FA0;}
.bgOrg, .bgO, .bgOrange		{ background-color: #FA0;}
.bcOrg, .bcO, .bcOrange		{ border-color: #FA0;}

.cTan, .cTn, .cTt		{ color: #B80;}
.bgTan, .bgTn, .bgTt		{ background-color: #B80;}
.bcTan, .bcTn, .bcTt		{ border-color: #B80;}


.cMrn, .cMn, .cMaroon		{ color: Maroon;}
.bgMrn, .bgMn, .bgMaroon		{ background-color: Maroon;}
.bcMrn, .bcMn, .bcMaroon		{ border-color: Maroon;}

.cPur, .cP, .cPurple		{ color: Purple;}
.bgPur, .bgP, .bgPurple		{ background-color: Purple;}
.bcPur, .bcP, .bcPurple		{ border-color: Purple;}

.cMag, .cMagenta, .cM, .cFsh, .cF, .cFuchsia		{ color: Fuchsia;}
.bgMag, .bgMagenta, .bgM, .bgFsh, .bgF, .bgFuchsia		{ background-color: Fuchsia;}
.bcMag, .bcMagenta, .bcM, .bcFsh, .bcF, .bcFuchsia		{ border-color: Fuchsia;}


.cOlv, .cOv, .cOlive		{ color: Olive;}
.bgOlv, .bgOv, .bgOlive		{ background-color: Olive;}
.bcOlv, .bcOv, .bcOlive		{ border-color: Olive;}

.cGrn, .cG, .cGreen		{ color: Green;}
.bgGrn, .bgG, .bgGreen		{ background-color: Green;}
.bcGrn, .bcG, .bcGreen		{ border-color: Green;}

.cTea, .cT, .cTeal		{ color: Teal;}
.bgTea, .bgT, .bgTeal		{ background-color: Teal;}
.bcTea, .bcT, .bcTeal		{ border-color: Teal;}

.cLim, .cL, .cLime		{ color: Lime;}
.bgLim, .bgL, .bgLime		{ background-color: Lime;}
.bcLim, .bcL, .bcLime		{ border-color: Lime;}

.cAqu, .cA, .cAqua		{ color: Aqua;}
.bgAqu, .bgA, .bgAqua		{ background-color: Aqua;}
.bcAqu, .bcA, .bcAqua		{ border-color: Aqua;}


.cGry, .cGy, .cGray		{ color: Gray;}
.bgGry, .bgGy, .bgGray		{ background-color: Gray;}
.bcGry, .bcGy, .bcGray		{ border-color: Gray;}

.cSlv, .cS, .cSilver		{ color: Silver;}
.bgSlv, .bgS, .bgSilver		{ background-color: Silver;}
.bcSlv, .bcS, .bcSilver		{ border-color: Silver;}

.cWht, .cW, .cWhite		{ color: White;}
.bgWht, .bgW, .bgWhite		{ background-color: White;}
.bcWht, .bcW, .bcWhite		{ border-color: White;}


.cMb, .cMx, .cMyndex		{ color: #30A;}
.bgMb, .bgMx, .bgMyndex		{ background-color: #30A;}
.bcMb, .bcMx, .bcMyndex		{ border-color: #30A;}

.cMye, .cMxy, .cMyellow		{ color: #DB5;}
.bgMye, .bgMxy, .bgMyellow		{ background-color: #DB5;}
.bcMye, .bcMxy, .bcMyellow		{ border-color: #DB5;}


/*** Light BGs ***/
/***

P: Pastel (very light)
L: Light
M: Medium light
***/
.bgPb { background-color: #DEE;}
.bgLb { background-color: #ACE;}
.bgMb { background-color: #79B;}


