/* Styles for bibliography */

#bibliography h3,
#bibliography h4,
#bibliography p {
	margin: 0.15em 1em;
	}
#bibliography p ~ h3 {
	margin: 1em 1em 0.15em;
	}


/* Styles for APCA Tables */

.APCAtable td:first-child {font-weight: bold;}

.APCAtable, .ppiTable {
  padding: 6px;
  text-align: center; 
  border: 1px solid #135;
  }
.APCAtable td, .ppiTable td,
 th, .ppiTable th
{
  padding: 8px ;
  font-size: 1.2em;
  text-align: center; 
  }
.APCAtable .ptText {text-align: center; padding:1em 0.5em 0.33em 0.5em; font-size: 0.85em; font-weight: normal; font-style: italic;}
.APCAtable .ptText::after {content: ' pt'; font-size: 0.7em;}
.APCAtable .pxText {font-size: 1.15em; font-weight: bold;}
.APCAtable .pxText::after {content: 'px';font-size: 0.7em;font-weight: normal;}

.APCAtable.sortContrast .pxText {font-size: 1.1em; font-weight: normal;}
.APCAtable.sortContrast .pxText.fraction {font-size: 0.95em; font-weight: normal; font-style:italic;}

.APCAtable .LcValue {
  font-size: 1.2em;
  text-align: left;
  }
.APCAtable .normWgt 
{
	background-color: #f2f2f2;
}.APCAtable .underWeight {
	font-size: 1.75em;
	line-height: 0.7;
	color: #dd6677;
	background-color: #fff6ff;
	border-color: #eee6ee;
}
.APCAtable .normWgt 
{
	border-left: 2px solid #9ab;
	border-right: 2px solid #9ab;
}

.APCAtable .spotWeight {
	font-size: 0.85em;
	line-height: 0.7;
	letter-spacing: -0.2em;
	color: #a000f0;
	background-color: #f4eeff;
}
  .spotSpan, .copyOnly {
    color: #a000f0;
  }
  .underWeightSpan {
    color: #c0272d;
    font-size: 1.6em;
    /* color: var(--faded-red); */
  }
.APCAtable .keyValue, .ppiTable .keyValue {
  padding: 7px;
  font-size: 1.4em;
	font-weight: bold;
	background-color: #d0eef0;
	/* background-color: var(--cloudy-subtle); */
}

.APCAtable .keyValue90, .ppiTable .keyValue90 {
  padding: 7px;
  font-size: 1.4em;
	font-weight: bold;
	background-color: #e8f3ff;
	/* background-color: var(--cloudy-subtle); */
}

.APCAtable .keyValue45 {
  font-size: 1.2em;
  font-weight: bold;
	background-color: #ffeedd;
	/* background-color: var(--cloudy-subtle); */
}
.APCAtable .keyValue30 {
  font-size: 1.1em;
  font-weight: bold;
	background-color: #ffe4e4;
	/* background-color: var(--cloudy-subtle); */
}
.APCAtable .keyValue60 {
  font-size: 1.3em;
  font-weight: bold;
	background-color: #d0f1d1;
	/* background-color: var(--cloudy-subtle); */
}
